
{% extends 'base.html' %}
<!--{% block albums_active %}active{% endblock %}-->

{% block body %}
<center>
<table class="has-background-info">
    <tr>
        <td>
            <div class="col-sm-12">
            <img src="{{details.image_url}}">
            </div>
        </td>
        <td>
            <div class="col-sm-12">
            <h3>Book Title&nbsp;: &nbsp;{{details.title}}</h3>
            <h4>Book Author&nbsp;: &nbsp;{{details.author}}</h4>
                <h4>ISBN &nbsp;:&nbsp;{{details.isbn}}</h4>
            <h4>Average Rating&nbsp;: &nbsp;{{details.avg_rating}}</h4>
                <h4>Rs. &nbsp;{{details.price}}/-</h4>
            </div>
        </td>
        <td>
            <div class="col-sm-12">
            <a href="{% url 'addtocart' details.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                Add to &nbsp;<span class="glyphicon glyphicon-shopping-cart "></span>
                            </a>
            </div>

        </td>
    </tr>
</table>
</center>
<h2>Recommendations</h2>

<div class="albums-container container-fluid">

    <!-- Albums -->
    <div class="row">
        <div class="col-sm-12">
            <!--<h3>{{ user.username }}'s Albums</h3>-->
        </div>
        {% if albums %}
            {% for album in albums %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'bookdet' album.id %}">
                            <img src="{{ album.image_url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h4>{{ album.title }}</h4>
                            <h5>{{ album.author }}</h5>

                            <!-- View Details -->
                            <a href="{% url 'bookdet' album.id %}" class="btn btn-primary btn-sm" role="button">See Details</a>


                            <!-- Favorite Album -->
                            <a href="{% url 'addtocart' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
                                Add to &nbsp;<span class="glyphicon glyphicon-shopping-cart "></span>
                            </a>

                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}
    </div>


</div>
{% endblock %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<img src="{{details.image_url}}">-->
<!--<h2>Recommendations</h2>-->
<!--{% for item in ids %}-->
<!--<a href="{% url 'bookdet' item.id %}"><img src="{{item.image_url}}"></a>-->
<!--&lt;!&ndash;<h2>{{item.id}}</h2>&ndash;&gt;-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->